<div id="tst_invalidPricePopup" class="reveal-modal pop-allpurpose invalid-price-popup" data-reveal data-reveal-init>
    <div class="modal-wrap ">
        <h4><span>[% translate 'Invalid Price' %]</span></h4>
        <span>[% siteMessage 'Cart_InvalidPrice' EscapeSingleQuotes %]</span>
        <a id="tst_invalidPricePopup_close" class="close-reveal-modal">&#215;</a>
    </div>
</div>